body.royal_preloader {
    background: none;
    visibility: hidden;
}
#royal_preloader {
    font-family: Microsoft JhengHei;
    font-size: 12px;
    visibility: visible;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
    margin: 0;
    z-index: 9999999999;
}
#royal_preloader.royal_preloader_number:before,
#royal_preloader.royal_preloader_progress:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#royal_preloader.complete {
    opacity: 0;
    -webkit-transition: opacity 0.2s linear 0.5s;
       -moz-transition: opacity 0.2s linear 0.5s;
        -ms-transition: opacity 0.2s linear 0.5s;
         -o-transition: opacity 0.2s linear 0.5s;
            transition: opacity 0.2s linear 0.5s;
}
#royal_preloader.royal_preloader_line {
    height: 2px;
    bottom: auto;
}

/* Progress Mode */

#royal_preloader.royal_preloader_progress .royal_preloader_percentage {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    /*color: rgba(255, 255, 255, 0.1);*/
    font-family: Microsoft JhengHei;
    font-size: 20px;
    text-align: center;
}
#royal_preloader.royal_preloader_progress .royal_preloader_loader {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 60%;
    height: 2px;
    margin: -10px auto auto auto;
    background-color: rgba(0, 0, 0, 0.1);
}
#royal_preloader.royal_preloader_progress .royal_preloader_meter {
    width: 0;
    height: 100%;
    margin: auto;
    padding: 0;
    background-color: #FF3B30;
}


@-webkit-keyframes rotate {
    0% { -webkit-transform: rotate(0);}
    100% { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotate {
    0% { -moz-transform: rotate(0); }
    100% { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotate {
    0% { -ms-transform: rotate(0); }
    100% { -ms-transform: rotate(360deg); }
}
@-o-keyframes rotate {
    0% { -o-transform: rotate(0); }
    100% { -o-transform: rotate(360deg); }
}
@keyframes rotate {
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}
