/* =Common Styles
-------------------------------------------------------------- */
a {
    color: #FF3B30;
}

span.divider {
    background-color: #FF3B30;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
#contact .form-control:focus,
#contact .form-control:hover,
#contact .form-control:active {
    border-color: #FF3B30;
}

#contact .has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #FF3B30;
}

.demo_changer .demo-icon {
    background: #d12727;
}

#royal_preloader.royal_preloader_number .royal_preloader_percentage:after {
    border-left-color: #d12727;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #FF3B30;
    border: 1px solid #FF3B30;
    border-bottom: 2px solid #d12727;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{
  font-weight: 500 !important;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #d12727;
}

.nav-tabs>li>a:hover {
    border-color: #d12727;
}

a:focus, a:hover {
    color: #FF3B30;
}

ul.list-arrow-2-color li:before {
    color: #FF3B30;
}

ul.list-arrow-color li:before {
    color: #FF3B30;
}

/* =Buttons
-------------------------------------------------------------- */
.btn-default:hover {
    background-color: #FF3B30;
    border-color: #FF3B30;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    background-color: #FF3B30;
    border-color: #FF3B30;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-color: #FF3B30;
    border-color: #FF3B30;
}

.btn-default.disabled.focus, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled].focus, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #FF3B30;
    border-color: #FF3B30;
}

.btn-primary {
    background-color: #FF3B30;
    border-color: #FF3B30;
}

.btn-primary:hover {
    background-color: #e5412b;
    border-color: #e5412b;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    background-color: #e5412b;
    border-color: #e5412b;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    background-color: #e5412b;
    border-color: #e5412b;
}

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #e5412b;
    border-color: #e5412b;
}

.btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #e5412b;
    border-color: #e5412b;
}

.btn-primary.focus, .btn-primary:focus {
    background-color: #e5412b;
    border-color: #e5412b;
}

.btn-light:hover {
    background-color: #FF3B30;
    border-color: #FF3B30;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #FF3B30;
}

/* =Progress Bars
-------------------------------------------------------------- */
.progress-bar {
    background-color: #FF3B30;
}

/* =Modals
-------------------------------------------------------------- */
.modal-header {
	background: #ff3b30; /* Old browsers */
	background: -moz-linear-gradient(left, #ff3b30 0%, #e5412b 35%, #d12727 66%, #ff3b30 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ff3b30 0%,#e5412b 35%,#d12727 66%,#ff3b30 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ff3b30 0%,#e5412b 35%,#d12727 66%,#ff3b30 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3b30', endColorstr='#ff3b30',GradientType=1 ); /* IE6-9 */
}

a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #FF3B30;
}


/* =Navigation
-------------------------------------------------------------- */
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #FF3B30;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FF3B30;
}

.navbar-default .navbar-toggle {
    border-color: #FF3B30;
    background-color: #FF3B30;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #e5412b;
}

/* =Jumbotron Main
-------------------------------------------------------------- */
#particles-js {
	/*background-image: url(../../images/intro-bg.jpg) !important;*/
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
	/*background: #ff3b30;
	background: -moz-linear-gradient(left, #ff3b30 0%, #e5412b 35%, #d12727 66%, #ff3b30 100%);
	background: -webkit-linear-gradient(left, #ff3b30 0%,#e5412b 35%,#d12727 66%,#ff3b30 100%);
	background: linear-gradient(to right, #ff3b30 0%,#e5412b 35%,#d12727 66%,#ff3b30 100%); */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3b30', endColorstr='#ff3b30',GradientType=1 ); /* IE6-9 */*/
}

@media (max-width: 768px) {
  #particles-js {
    background-image: url(../../images/intro-bg_768.jpg) !important;
  }
}

@media (min-width: 768px) {
  #particles-js {
    background-image: url(../../images/intro-bg.jpg) !important;
  }
}
/* =Our Process
-------------------------------------------------------------- */
#our-process .process-icons {
	color: #FF3B30;
}

/* =Testimonial
-------------------------------------------------------------- */
.fade-quote-carousel.carousel .carousel-indicators .active {
	background-color: #FF3B30;
}

.fade-quote-carousel.carousel .carousel-indicators > li {
	border: 1px solid #FF3B30;
}

/* =Services
-------------------------------------------------------------- */
.services-icon {
    font-size: 40px;
    color: #FF3B30;
}

/* =About
-------------------------------------------------------------- */
.basic-carousel.carousel .carousel-indicators > li {
	border: 1px solid #FF3B30;
}

.basic-carousel.carousel .carousel-indicators .active {
	background-color: #FF3B30;
}

/* =Our Count
-------------------------------------------------------------- */
#ourcount .item > .circle-hold {
    background-color: #FF3B30;
}

/* =Team
-------------------------------------------------------------- */
.team-image-wrapper .team-image-hover {
	background-color: rgba(255, 59, 48, 0.71);
}

/* =Work
-------------------------------------------------------------- */
span.portfolio-hover {
	background: #ff3b30; /* Old browsers */
	background: -moz-linear-gradient(left, #ff3b30 0%, #e5412b 35%, #d12727 66%, #ff3b30 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ff3b30 0%,#e5412b 35%,#d12727 66%,#ff3b30 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ff3b30 0%,#e5412b 35%,#d12727 66%,#ff3b30 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3b30', endColorstr='#ff3b30',GradientType=1 ); /* IE6-9 */
}

.portfolio-links:hover {
    color: #FF3B30;
}

/* =Pricing
-------------------------------------------------------------- */
.plan li > strong {
	color: #FF3B30;
}

.plan.featured li.plan-name {
	background: #FF3B30;
  color: #fff;
}

.plan.featured:hover li.plan-name {
	/*background: #ff0000;*/
  background: #FF3B30;
  font-weight: 600;
}
